main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.item_container {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    justify-content: stretch;
    align-content: stretch;
    gap: 1em;
    margin: 0 auto;
    background-color: #ffffff;
    grid-template-columns: auto repeat(5, auto);
    grid-template-rows: auto repeat(10, auto)
}

.item-1 {
    grid-row: 1/4 ;
    grid-column: 1/3 ;
    background: #c440d0;
}

.item-2 {
    grid-row: 4/7 ;
    grid-column: 1/3;
    background: #b437bf;
}

.item-3 {
    grid-row: 7/11;
    grid-column: 1/3;
    background: #602687;
}

.item-4 {
    grid-area: 1/3/7/5;
    background: #fd8403;
}

.item-5 {
    grid-area: 7/3/9/4;
    background: #de8d37;
}

.item-6 {
    grid-area: 9/3/11/4;
    background: #f0642c;
}

.item-7 {
    grid-area: 1/5/3/7;
    background: #e660f2;
}

.item-8 {
    grid-area: 3/5/5/7;
    background: #d38cda;
}

.item-9 {
    grid-area: 5/5/7/7;
    background: #633967;
}

.item-10 {
    grid-area: 7/4/11/6;
    background: #320d3e;
}

.item-11 {
    grid-area: 7/6/11/7;
    background: #320d3e;
}

.footer {
    grid-area: 11/1/13/7;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    padding: 24px 34px;
    background: rgb(160, 60, 219);
    width: 100%;
    height: 150px;
    padding: 0;
    margin: 0 auto;
}